h1{
  -webkit-text-stroke-width:2px;
  letter-spacing: 2px;
  font-size: 40px;
}
.desc{
  font-size: 20px;
  text-transform: capitalize;
}
a{
  color: black !important;
  font-size: 15px;
  overflow-wrap: break-word;
}
.fa-envelope{
  font-size: 40px;
}
h3{
  font-size: 22px !important;
  text-transform: capitalize;
  font-weight: 500;
}
.custom-card{
  margin-top: 1rem;
  min-height: 220px;
}