<div class="row" id="home">
  <div class="col-md-6 mx-auto">
    <img src="../assets/images/banner.jpg"
    style="width: 100%;">
  </div>
  <div class="col-md-7 mx-auto my-5">
    <h1 class="text-center">Find your dream internship</h1>
    <p class="text-center desc">
      only platform completely dedicated to highschool internship in USA.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="row" >
      <div class="col-md-4 mt-2" *ngIf="!this.authService.isAuthenticated() || (this.authService.isAuthenticated() && this.authService.isType() == 'company') && this.authService.isType() == 'student'">
        <button type="button" class="btn btn-primary w-100" [routerLink]="['/student-registration']" >Student Registration</button>

      </div>
      <div class="col-md-4 mt-2"   *ngIf="!this.authService.isAuthenticated() || (this.authService.isAuthenticated() && this.authService.isType() == 'student') && this.authService.isType() == 'company'">
        <button type="button" class="btn btn-primary w-100" [routerLink]="['/company-registration']" >Company Registration</button>

      </div>
      <div class="col-md-4 mx-auto mt-2">
        <button type="button" *ngIf="!authService.isAuthenticated()" class="btn btn-primary w-100" [routerLink]="['/login']" >Login</button>
        <button type="button" *ngIf="authService.isType() == 'student'" class="btn btn-primary w-100" [routerLink]="['/student-dashboard']" >Dashboard</button>
        <button type="button" *ngIf="authService.isType() == 'company'" class="btn btn-primary w-100" [routerLink]="['/company-dashboard']" >Dashboard</button>
  
      </div>
    </div>
   <div id="about">
    </div> 
  </div>
</div>
<div class="row my-5" id="about">
  <div class="col-md-10 py-5 mx-auto">
    <div class="row">
  <div class="col-md-12">
    <h2>Why another websites?</h2>
    <p>
      As a high school junior I was searching for options to do internships in companies. I checked with my school counselor but I was told they don't have any contacts with companies. Then I started googling around,  to my surprise I didn’t find any dedicated  websites for high school students. So decided to create one and this website is my first step towards making highschool internships more accessible.
    </p>
  </div>
</div>
  </div>
</div>
<div class="row" >
  <div class="col-md-10 mx-auto">
    <div class="row">
      <div class="col-md-12">
        <h2>About ME</h2>
      </div>
      <div class="col-md-3">
    <img src="assets/images/about.jpg" class="w-100" >
      </div>
      <div class="col-md">
    <p>My name is Sanvi Kenganahalli Math Currently in Junior year at Obra Tompkins High School  Katy Texas. I am Interested in pursuing education in Computer engineering or Computer Science. 
      Actively participated in First Robotics Competitions</p>
      </div>
    </div>
  </div>
  
</div>

<div class="row my-5" id="contact">
  <div class="col-md-10 mx-auto">
    <div class="row">
  <div class="col-md-4">
    <div class="custom-card text-center p-3 ">
      <div class="text-center mb-4">
        <i class="fa-solid fa-envelope "></i>
      </div>
      <h3 class="text-primary">Contact for general support
      </h3>
      <div class="text-center mb-3">
      <a href="mailto:contactus.highschoolintern@gmail.com" class="my-3">contactus.highschoolintern@gmail.com</a>
    </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="custom-card text-center p-3">
      <div class="text-center mb-4">
        <i class="fa-solid fa-envelope "></i>
      </div>
      <h3 class="text-primary">contact to become a contributor
      </h3>
      <div class="text-center mb-3">
      <a href="mailto:developer.highschoolintern@gmail.com" class="my-3">developer.highschoolintern@gmail.com</a>
    </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="custom-card text-center p-3">
      <div class="text-center mb-4">
        <i class="fa-solid fa-envelope "></i>
      </div>
      <h3 class="text-primary">contact to request for enhancement
      </h3>
      <div class="text-center mb-3">
        <a href="mailto:enhancements.highschoolintern@gmail.com" class="my-3">enhancements.highschoolintern@gmail.com</a>

      </div>
    </div>
  </div>
  </div></div>
</div>