<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse w-100 justify-content-end " id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="student-registration" href="#">Student Registration</a>
        <a class="nav-link" routerLink="/auth" href="#">Login</a>
        <a class="nav-link" routerLink="company-registration" href="#">Company Registration</a>
       
      </div>
    </div>
  </div>
</nav> -->

<div class="header">
  <nav class="navbar my-3 navbar-expand-lg p-0 position-relative">
    <div class="container-fluid">
      <img src="../assets/images/logo.png"
           class="pointer"
           style="width: 135px;"
           [routerLink]="['/home']">
      <i class="fa-solid fa-bars text-primary d-block d-lg-none"
      (click)="toggleClass()"
         style="font-size: 25px;"></i>
      <div class="collapse navbar-collapse justify-content-end"
           id="navbarSupportedContent">
        <div class="d-flex justify-content-around align-item-center ">
         
          <div class="dropdown">
            <a><button class="btn nav-li"
                    [routerLink]="['/home']"
                    type="button">
              Home
            </button></a>
          </div>
          <div class="dropdown">
            <a><button class="btn nav-li"
              [routerLink]="['/home']"
              (click)="scrollToAbout()"
                    type="button">
              About
            </button></a>
          </div>
          <div class="dropdown">
            <button class="btn nav-li"
                    [routerLink]="['/student-registration']"
                    type="button">
              Student Registration
            </button>
          </div>
          <div class="dropdown">
            <button class="btn nav-li"
                    [routerLink]="['/company-registration']"
                    type="button">
                    Company Registration
            </button>
          </div>
          <div class="dropdown">
            <button class="btn nav-li"
            *ngIf="!authService.isAuthenticated()"
                    [routerLink]="['/login']"
                    type="button">
              Login
            </button>
          </div>
          <div class="dropdown">
            <a >
            <button class="btn nav-li"
             (click)="scrolltoContact()"
                    type="button">
              Contact Us
            </button></a>
          </div>
          <div class="dropdown my-auto border-l ">
         
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>

<!-- SIDEBAR -->
<div class="wrapper-sidebar d-flex" *ngIf="commonService.mobileSidebar">
  <div >
    <app-sidebar-auth *ngIf="commonService.mobileSidebar"></app-sidebar-auth>
  </div>
<div (click)="toggleClass()"  style="background-color: rgba(0, 0, 0, 0.409); width: calc(100% - 250px);">
</div>
</div>

<div class="container-fluid p-3 top-80">
  <router-outlet></router-outlet>
</div>
<section class="footer bg-primary" id="contact">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <img src="assets/images/logo.png" class="w-50">
        <p class="text-white mt-3">
          As a high school junior I was searching for options to do internships.
        </p>
      </div>
      <div class="col-md-6 col-lg-6">
      <!--   <h5 class="text-white mt-3">Company</h5> -->
        <div class="row">
          <div class="col-md-4 col-sm-4 col-6 ">
           <!--  <ul class="menu-footer">
              <li><a href="#">Home</a></li>
              <li><a href="#">Solutions</a></li>
              <li><a href="#">Partners</a></li>
            </ul> -->
          </div>
          <div class="col-md-4 col-sm-4 col-6 ">
           <!--  <ul class="menu-footer">
              <li><a href="#">Who We Are</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Media Corner</a></li>
            </ul> -->
          </div>
          <div class="col-md-4 col-sm-4 col-6 ">
          <!--   <ul class="menu-footer">
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Get A Quote</a></li>
            </ul> -->
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center col-lg-3">
        <ul class="social-icon mt-5">
          <li class="face-book"><a href="#"
               target="_blank"><i class="fa fa-facebook"
                 aria-hidden="true"></i></a></li>
          <li class="twitter"><a href="#"
               target="_blank"><i class="fa fa-twitter"
                 aria-hidden="true"></i></a></li>
          <li class="linkedin"><a href="#"
               target="_blank"><i class="fa fa-linkedin"
                 aria-hidden="true"></i></a></li>
          <li class="youtube"><a href="#"
               target="_blank"><i class="fa fa-google-plus"
                 aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row py-3">
      <div class="col-md-12">
        <h6 class="text-center text-white">
          Copyright © 2020 Internship portal. All Rights Reserved. Privacy Policy
        </h6>
      </div>
    </div>
  </div>
</section>