<div class="header">
  <nav class="navbar my-3 navbar-expand-lg p-0 position-relative">
    <div class="container-fluid">
      <img src="../assets/images/logo.png"
           class="pointer"
           (click)="scrollToHome()"
           style="width: 135px;"
           [routerLink]="['/home']">
      <i class="fa-solid fa-bars text-primary d-block d-lg-none"
      (click)="toggleClass()"
         style="font-size: 25px;"></i>
      <div class="collapse navbar-collapse justify-content-end"
           id="navbarSupportedContent">
        <div class="d-flex justify-content-around align-item-center ">
         
          <div class="dropdown my-auto">
            <a><button class="btn nav-li"
                    [routerLink]="['/home']"
                    (click)="scrollToHome()"
                    type="button">
              Home
            </button></a>
          </div>
          <div class="dropdown my-auto">
            <a><button class="btn nav-li"
              [routerLink]="['/home']"
              (click)="scrollToAbout()"
                    type="button">
              About
            </button></a>
          </div>
          <div class="dropdown my-auto"
          *ngIf="!this.authService.isAuthenticated() || (this.authService.isAuthenticated() && this.authService.isType() == 'student') && this.authService.isType() == 'company'"
          >
            <button class="btn nav-li"
                    [routerLink]="['/student-registration']"
                    type="button">
              Student Registration
            </button>
          </div>
          <div class="dropdown my-auto"
           *ngIf="!this.authService.isAuthenticated() || (this.authService.isAuthenticated() && this.authService.isType() == 'company') && this.authService.isType() == 'student'">
            <button class="btn nav-li"
                    [routerLink]="['/company-registration']"
                    type="button">
                    Company Registration
            </button>
          </div>
          <div class="dropdown my-auto">
            <button class="btn nav-li"
            *ngIf="!authService.isAuthenticated()"
                    [routerLink]="['/login']"
                    type="button">
              Login
            </button>
          </div>
          <div class="dropdown my-auto">
            <a >
            <button class="btn nav-li"
            [routerLink]="['/home']"
             (click)="scrolltoContact()"
                    type="button">
              Contact Us
            </button></a>
          </div>
          <div class="dropdown my-auto">
            <button class="btn nav-li"
            *ngIf="authService.isType() == 'student'"
                    [routerLink]="['/student-dashboard']"
                    type="button">
   Dashboard <i class="fa-solid fa-user shadow profile-icon ms-2"></i>
            </button>
          </div>
          <div class="dropdown my-auto">
            <button class="btn nav-li"
            *ngIf="authService.isType() == 'company'"
                    [routerLink]="['/company-dashboard']"
                    type="button">
              Dashboard <i class="fa-solid fa-user shadow profile-icon ms-2"></i>
            </button>
          </div>
       
        </div>
      </div>
    </div>
  </nav>
</div>

<!-- SIDEBAR -->
<div class="wrapper-sidebar d-flex" *ngIf="commonService.mobileSidebar">
  <div *ngIf="!authService.isAuthenticated()" >
    <app-sidebar-auth   [menuList]="commonService.authMenu" *ngIf="commonService.mobileSidebar"></app-sidebar-auth>
  </div>
  <div *ngIf="authService.isAuthenticated()" >
    <app-sidebar-auth [showDashboard]="true"  [menuList]="commonService.homeMenu" *ngIf="commonService.mobileSidebar"></app-sidebar-auth>
  </div>
<div (click)="toggleClass()"  style="background-color: rgba(0, 0, 0, 0.409); width: calc(100% - 250px);">
</div>
</div>

<div class="container-fluid p-3 top-80">
  <router-outlet></router-outlet>
</div>
<section class="footer bg-primary" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <img src="assets/images/logo.png" class="w-50">
      
      </div>
      <div class="col-md-6 col-lg-6">
    
      </div>
      <div class="col-md-12 text-center col-lg-3">
        <ul class="social-icon mt-5">
          <li class="face-book"><a href="https://www.facebook.com/profile.php?id=61551797922922"
               target="_blank"><i class="fa fa-facebook"
                 aria-hidden="true"></i></a></li>
          <li class="twitter"><a href="#"
               target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
          <li class="linkedin"><a href="https://www.linkedin.com/company/highschool-intern/about/?viewAsMember=true"
               target="_blank"><i class="fa fa-linkedin"
                 aria-hidden="true"></i></a></li>
       
        </ul>
      </div>
    </div>
    <hr>
    <div class="row py-3">
      <div class="col-md-12">
        <h6 class="text-center text-white">
          Copyright © 2020 Internship portal. All Rights Reserved. Privacy Policy
        </h6>
      </div>
    </div>
  </div>
</section>