<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse w-100 justify-content-end " id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="student-registration" href="#">Student Registration</a>
        <a class="nav-link" routerLink="/auth" href="#">Student Login</a>
        <a class="nav-link" routerLink="company-registration" href="#">Company Registration</a>
        <a class="nav-link" routerLink="company-login" href="#">Company Login</a>
       
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid p-3">
  <router-outlet></router-outlet>
</div>
