
<div class="header">
  <nav class="navbar navbar-expand-lg p-0 position-relative">
    <div class="container-fluid">
      <img src="../assets/images/logo.png"
           class="pointer"
           style="width: 135px;">
      <i class="fa-solid fa-bars text-primary d-block d-lg-none"
      (click)="toggleClass()"
         style="font-size: 25px;"></i>
      <div class="collapse navbar-collapse justify-content-end"
           id="navbarSupportedContent">
        <div class="d-flex justify-content-around align-item-center  mt-2 ">
         
          <div class="dropdown">
            <a><button class="btn nav-li"
                    [routerLink]="['/company-dashboard']"
                    type="button">
                    Internship List
            </button></a>
          </div>
          <div class="dropdown">
            <a><button class="btn nav-li"
              [routerLink]="['create-internship']"
                    type="button">
                    Create Internship
            </button></a>
          </div>
          <div class="dropdown">
            <button class="btn nav-li"
                    [routerLink]="['company-profile']"
                    type="button">
                    Profile
            </button>
          </div>
          <div class="dropdown p-2">
            <span class="pointer nav-li" (click)="logout()"> Logout <i class="fa-solid fa-right-from-bracket mx-1"></i></span>
            </div>
        </div>
      </div>
    </div>
  </nav>
</div>
<!-- SIDEBAR -->
<div class="wrapper-sidebar d-flex" *ngIf="commonService.mobileSidebar">
  <div >
    <app-sidebar-auth *ngIf="commonService.mobileSidebar"></app-sidebar-auth>
  </div>
<div (click)="toggleClass()"  style="background-color: rgba(0, 0, 0, 0.409); width: calc(100% - 250px);">
</div>
</div>
<div class="container py-3 top-80">
  <router-outlet></router-outlet>
</div>
