<div class="row my-5">
  <div class="col-md-10 mx-auto">
    <div class="table-container">
      <table mat-table
             [dataSource]="dataSource"
             class="mat-elevation-z8">
    
        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
        <!-- sno Column -->
        <ng-container matColumnDef="sno">
          <th mat-header-cell
              *matHeaderCellDef> <strong>Sno.</strong> </th>
          <td mat-cell
              *matCellDef="let element;let i = index;"> {{i+1}} </td>
        </ng-container>
        <!-- sku Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell
              *matHeaderCellDef> <strong>Internship Title</strong> </th>
          <td mat-cell
              *matCellDef="let element"> {{element.internship_title}} </td>
        </ng-container>
    
        <ng-container matColumnDef="lastdate">
          <th mat-header-cell
              *matHeaderCellDef> <strong>Last Date Apply</strong> </th>
          <td mat-cell
              *matCellDef="let element"> {{element.last_apply_date}} </td>
        </ng-container>
        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell
              style="width: 60px;"
              *matHeaderCellDef> <strong>Actions</strong> </th>
          <td mat-cell
              style="width: 60px;"
              *matCellDef="let element">
            <div class="d-flex align-items-center justify-content-start">
              <!-- <i class="fa-solid fa-circle-info table-icon"></i> -->
              <i class="fa-solid fa-eye table-icon" (click)="view(element)"></i>
              <i class="fa-solid fa-pen-to-square table-icon" (click)="editItem(element)"></i>
              <i class="fa-solid fa-trash table-icon" (click)="deleteItem(element)"></i>
              <button type="button" style="white-space: pre;"
                      (click)="viewAplicant(element)"
                      class="btn btn-primary px-4 py-1">View Applicant</button>
       <!--      <button type="button"
                      (click)="editItem(element)"
                      class="btn btn-primary px-4 py-1">Edit</button>
              <button type="button"
                      (click)="deleteItem(element)"
                      class="btn btn-primary px-4 py-1 ms-2">Delete</button>   -->
            </div>
          </td>
    
        </ng-container>
    
        <tr mat-header-row
            *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row
            *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
