.side{
     /* position: absolute;  */
    z-index: 99;
    min-width: 250px;
    max-width: 250px;
    background-color: white;
    color: black;
    transition: 0.5s;
    padding-bottom: 2px;
    //min-height: 100vh;
    overflow-y: auto;
    height: calc(100vh - 80px);
 
}