<div class="side">
  <div class="menu pt-3">
    <div class="dropdown my-2" *ngFor="let item of menuList">
      <a><button class="btn nav-li"
        (click)="toggleClass()"
              [routerLink]="[item.link]"
              type="button">
        {{item.text}}
      </button></a>
    </div>
  
    <div class="dropdown my-2" *ngIf="this.authService.isAuthenticated()">
      <a >
      <button class="btn nav-li" (click)="logout()"
              type="button">
       Logout
      </button></a>
    </div>
  </div>
</div>