<div class="row my-5">
  <div class="col-md-10 mx-auto">
    <h1 class="my-3 title-card ps-2">Apply For Internship</h1>
    <div class="py-2">
      <input class="form-control search-box"
             matInput
             type="text"
             (keyup)="doFilter($event)"
             placeholder="Search">
    </div>
    <div class="table-container">
      <table mat-table
             [dataSource]="dataSource"
             class="mat-elevation-z8">
    
        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
        <!-- sno Column -->
        <ng-container matColumnDef="sno">
          <th mat-header-cell
              *matHeaderCellDef> <strong>Sno.</strong> </th>
          <td mat-cell
              *matCellDef="let element;let i = index;"> {{i+1}} </td>
        </ng-container>
        <!-- sku Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell
              *matHeaderCellDef> <strong>Internship Title</strong> </th>
          <td mat-cell
              *matCellDef="let element"> {{element.internship_title}} </td>
        </ng-container>
    
        <ng-container matColumnDef="lastdate">
          <th mat-header-cell
              *matHeaderCellDef> <strong>Last Date Apply</strong> </th>
          <td mat-cell
              *matCellDef="let element"> {{element.last_apply_date | date: 'dd/MM/yyyy'}} </td>
        </ng-container>
        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell
              style="width: 60px;"
              *matHeaderCellDef> <strong>Actions</strong> </th>
          <td mat-cell
              style="width: 60px;"
              *matCellDef="let element">
            <div class="d-flex align-items-center justify-content-start">
              <button type="button"
              (click)="viewItem(element)"
              class="btn btn-primary mx-2 px-4 py-1">View</button>

              <button type="button" *ngIf="!element.alreadyApplied && !checkDate(element.last_apply_date)"
              (click)="apply(element)"
              class="btn btn-primary px-4 py-1">Apply</button>

              <button type="button" *ngIf="element.alreadyApplied "
              [disabled]="true"
              class="btn btn-primary px-4 py-1">Applied</button>

              <button type="button" *ngIf="!element.alreadyApplied && checkDate(element.last_apply_date)"
              [disabled]="checkDate(element.last_apply_date)"
              class="btn btn-primary px-4 py-1">Expired</button>
      </div>
          </td>
    
        </ng-container>
    
        <tr mat-header-row
            *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row
            *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
