/* You can add global styles to this file, and also import other style files */
$primary-color: #005987;
$secondary-color: #f26522;
$terrtiary-color: #b9b9bb;

.fs-14 {
  font-size: 14px !important;
}
.fs-12 {
  font-size: 12px;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.text-primary {
  color: $primary-color !important;
}
.text-secondary {
  color: $secondary-color !important;
}
.text-terrtiary {
  color: $terrtiary-color !important;
}
.bg-primary {
  background-color: $primary-color !important;
}
.bg-secondary {
  background-color: $secondary-color !important;
}
.bg-terrtiary {
  background-color: $terrtiary-color !important;
}
.bg-main {
  background-color: #e6e6e6;
}
.pointer{
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.title-card{
  font-weight: 500;
  border-left: 5px solid $primary-color;
}
.custom-card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 12px;
  padding: 25px;
}
/* button */
.btn-primary {
  background-color: $primary-color;
  color: white;
  border: none;
  font-size: 12px;
  border-radius: 0.25rem;
}
.btn-secondary {
  background-color: $secondary-color;
  color: white;
  border: none;
  font-size: 12px;
  border-radius: 0.25rem;
}
/* form */
.form-input {
  background-color: #f8f7fc;
  //color: #cccccc;
  border-radius: 8px;
  border: none;
}
.form-control:focus {
  box-shadow: none;
}
.form-group{
  margin-top: 10px;
}


/* table */
.table-container {
  border-radius: 8px;
  overflow: auto; /* Ensures the border radius is applied correctly */
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.mdc-data-table__header-cell {
  color: white !important;
}
thead {
  background-color: $primary-color !important;
  color: white !important;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.table-icon{
  cursor: pointer;
  margin-right: 10px;
}
/* header */
.top-80{
  margin-top: 80px;
}
.nav-li:hover {
  color: #0b5876;
}
.nav-li {
  font-weight: 500;
  font-size: 17px;
}

.header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  height: 80px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.search-box{
  width: 50%;
}
.wrapper-sidebar{
  position: absolute; 
  width: 100%;
}
@media (max-width: 768px) {
  .search-box{
    width: 100% !important;
  }
}