<div class="row">
  <div class="col-md-8 mx-auto">
     <form [formGroup]="registrationForm">
      <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" formControlName="first_name"> 
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" formControlName="last_name"> 
      </div>
      <div class="form-group">
        <label>DOB Name</label>
        <input type="date" class="form-control" formControlName="dob_name"> 
      </div>
      <div class="form-group">
        <label>State</label>
        <input type="text" class="form-control" formControlName="state">
        
      </div>
      <div class="form-group">
        <label>District</label>
        <input type="text" class="form-control" formControlName="school_district">
      
      </div>
      <div class="form-group">
        <label>School Name</label>
        <input type="text" class="form-control" formControlName="school_name"> 
      </div>
      <div class="form-group">
        <label>Contact Email ID</label>
        <input type="email" class="form-control" formControlName="email"> 
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="text" class="form-control" formControlName="password"> 
      </div>
      <div class="form-group">
        <!-- <label>Freshman</label> -->
        <mat-form-field>
          <mat-label>Freshman</mat-label>
          <mat-select formControlName="freshman" multiple>
            <mat-option *ngFor="let freshman of freshmanList" [value]="freshman.value">{{freshman.title}}</mat-option>
          </mat-select>
        </mat-form-field>
      <!--   <select formControlName="freshman" class="form-control form-select">
          <option>Select Freshman</option>
          <option value="freshman">Freshman</option>
        </select> -->
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Sophomore</mat-label>
          <mat-select formControlName="sophomore" multiple>
            <mat-option *ngFor="let sophomore of sophomoreList" [value]="sophomore.value">{{sophomore.title}}</mat-option>
          </mat-select>
        </mat-form-field>
       <!--  <select formControlName="sophomore" class="form-control form-select">
          <option>Select Sophomore</option>
          <option  value="sophomore">sophomore</option>
        </select> -->
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Junior</mat-label>
          <mat-select formControlName="junior" multiple>
            <mat-option *ngFor="let junior of juniorList" [value]="junior.value">{{junior.title}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Senior</mat-label>
          <mat-select formControlName="senior" multiple>
            <mat-option *ngFor="let senior of seniorList" [value]="senior.value">{{senior.title}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group">
        <button type="button"   [disabled]="!registrationForm.valid" (click)="submit()" class="btn btn-primary">Submit</button>
      </div>
     </form>
  </div>
</div>