<div class="row my-5">
  <div class="col-md-10 mx-auto" *ngIf="list?.length">
    <button type="button" 
    (click)="back()"
    class="btn btn-primary px-4 py-1"><i class="fa-solid fa-arrow-left text-white mx-1"></i>Back</button>
    <h1 class="my-3 title-card ps-2">Applicants</h1>
    <div class="py-2">
      <input class="form-control search-box"
             matInput
             type="text"
             (keyup)="doFilter($event)"
             placeholder="Search">
    </div>
    <div class="table-container">
      <table mat-table
             [dataSource]="dataSource"
             class="mat-elevation-z8">
    
    
        <ng-container matColumnDef="sno">
          <th mat-header-cell
              *matHeaderCellDef> <strong>Sno.</strong> </th>
          <td mat-cell
              *matCellDef="let element;let i = index;"> {{i+1}} </td>
        </ng-container>
        <!-- sku Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell
              *matHeaderCellDef> <strong>Name</strong> </th>
          <td mat-cell
              *matCellDef="let element"> {{element.student.first_name}} </td>
        </ng-container>
        <ng-container matColumnDef="lastdate">
          <th mat-header-cell
              *matHeaderCellDef> <strong>Last Date Apply</strong> </th>
          <td mat-cell
              *matCellDef="let element"> {{element.last_apply_date | date: 'dd/MM/yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell
              *matHeaderCellDef> <strong>Status</strong> </th>
          <td mat-cell
              *matCellDef="let element"> <!-- {{element.status}}  -->
              <select class="form-control form-select" (change)="changeStatus(element.id,element.status)" [(ngModel)]="element.status">
                <option value="applied">Applied</option>
                <option value="reject">Reject</option>
                <option value="accept">Accept</option>
               </select>
            </td>
        </ng-container>
        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell
              style="width: 60px;"
              *matHeaderCellDef> <strong>Action</strong> </th>
          <td mat-cell
              style="width: 60px;"
              *matCellDef="let element">
            <div class="d-flex justify-content-start">
              <button type="button" style="white-space: pre;"
              (click)="view(element)"
              class="btn btn-primary px-4 py-1">View</button>
            </div>
          </td>
    
        </ng-container>
    
        <tr mat-header-row
            *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row
            *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  <div class="col-md-10 mx-auto" *ngIf="!list?.length">
    <button type="button" 
    (click)="back()"
    class="btn btn-primary px-4 py-1"><i class="fa-solid fa-arrow-left text-white mx-1"></i>Back</button>
    <h3 class="text-center">No Applied Student</h3>
    </div>
</div>
